@model QRiMovWeb.Models.Imovel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Detalhes do seu Imóvel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Detalhes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Detalhes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CEP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CEP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Logradouro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Logradouro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Complemento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UF)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UF)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comarca)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comarca)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImgMiniaturaUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImgMiniaturaUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImgUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImgUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImgQRCode)
        </dt>
        <dd>
            <img src="@Html.DisplayFor(model => model.ImgQRCode)" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDestaque)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDestaque)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categoria.CategoriaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ImovelId">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>
