@model Imovel
<div class="container marginTop">
    <div class="row">
        <div class="card">
            <div class="text-center view overlay hm-white-slight">
                <img src="@Model.ImgUrl" class="img-fluid" alt=""/>
                <a href="#">
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>
            <div class="card-block">
                <!--Title-->
                <h2 class="card-title">@Model.Descricao</h2>
                <!--Text-->
                <p class="card-text">
                    <h3><b>CEP: </b>@Model.CEP</h3>
                    <h3><b>UF: </b>@Model.UF</h3>
                    <h3><b>Cidade: </b>@Model.Comarca</h3>
                    <h3><b>Endereço: </b>@Model.Logradouro, @Model.Numero</h3>
                    <h3><b>Valor: </b>@Model.Valor</h3>
                    <h3><b>Categoria: </b>@Model.Categoria.CategoriaNome</h3>
                </p>
                <p class="btn btn-group pull-right">
                    <a asp-controller="Imovel" asp-action="List" class="btn btn-default">Ver todos os imóveis</a>
                    <a class="btn btn-primary" id="cartButton" asp-controller="Favorito" asp-action="AdicionarItemNosFavoritos" asp-route-imovelId="@Model.ImovelId">
                        Adicionar @Model.Descricao aos Favoritos
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
